body {
  margin: 0;
  font-family: "Questrial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Questrial", sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card,
.card-header,
.card-body {
  border: none !important;
}

.card-body .card {
  box-shadow: none !important;
}
